@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}


.navbar{
font-weight: 700;
position: relative;
  .nav_btn{
    cursor: pointer;
    transition: 0.3s ease;
    
    &:hover{
      color: #3722d3;
    }
  }

  .sign-up{
    transition: .3s ease;
  }
}

.react-responsive-modal-modal{
  border-radius: 20px;
  padding: 0!important;
}